<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="5; url=http://localhost:5050">
    </head>
      <title>Success page</title>
        <body>
            <h1>Data was successfully stored !</h1>
            <h4>This page will be redirected to home page in 5 seconds...</h4><br>
            <li><a style="color:black;" href="/"> Click here for redirecting to Home page immediately</a></li>
        </body>
    <style>
        body {
          background-image: url('https://wallpaper.dog/large/5543597.jpg');
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-size: cover;
          color:black;
          font-family:'Garamond, serif';
          text-align:center;
             }
    </style>
</html>